html,
body {
  height:100%
}

details{
    margin-bottom: 20px;
}

.navbar-custom {
            background-color: rgb(25, 68, 53);
            color: white;
        }
        .nav-title{
            text-decoration: none;
            color: white;
        }
        .site-background{
            background-color: rgba(25, 68, 53,0.88);
        }
        .empty-site-background{
            display: grid;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
            background-color: white;
        }

        .forms{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items:center;
            margin-top: 20px;
            margin-bottom: 20px;
            color: white;
        }



        .filters{
            background-color: rgba(25, 68, 53,0.88);
            color:white;
        }

        .filters:hover{
            background-color: rgba(25, 68, 53, 0.6);
            color: white;
            border: rgba(25, 68, 53, 0.8);
        }


        .tab-content {
            padding: 15px;
            background-color: rgba(25, 68, 53, 0.6);
            border-color: rgba(25, 68, 53, 0.6);
            margin-bottom: 5%;
        }

        .tab-content .tab-pane {
            color: white;
            height: auto;
        }

        .form-row{
            display: flex;
            justify-content: space-around;
        }

        .text-content{
            color: white;
            text-align: center;
        }


        .btn-login {
            margin-left: auto;
            background-color: rgba(25, 68, 53, 0.99) !important;
            color: white;
            margin-bottom: 20px;
            border: rgba(25, 68, 53, 0.99) !important;

    }
        .btn-login:hover {
            background-color: rgba(25, 68, 53, 0.6) !important;
            color: white;
            border: rgba(25, 68, 53, 0.8) !important;
    }
        .btn-form {
            background-color: rgba(25, 68, 53, 0.99) !important;
            color: white;
            margin-bottom: 20px;
            border: rgba(25, 68, 53, 0.99) !important;
            width: 49%;
        }

        .btn-form:hover {
            background-color: rgba(25, 68, 53, 0.6) !important;
            color: white;
            border: rgba(25, 68, 53, 0.8) !important;
    }
        .choose-form {
            display:flex;
            justify-content: center;
            margin-bottom: 3%;
            color:white;
    }
        #form-file{
            display:none;
        }
        .buttons{
            text-align: center;
        }

        .login-link{
             color: rgb(19, 47, 37);
        }

        .login-link:hover{
             color: rgb(19, 47, 37);
        }

        .danger-link{
             color: rgb(136, 27, 47);
        }

        .danger-link:hover{
             color: rgb(136, 27, 47);
        }

        .fa-circle-user{
            color:white;
        }

         .navbar-nav > li > .dropdown-menu {
             background-color: rgb(25, 68, 53);
         }

         .dropdown-item {
            color: white;
         }

         .line {
            width: 100%;
            overflow: hidden;
            padding: 0;
            color: white;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
    }
         .lineUp {
             font-size: 70px ;
            animation: 3s anim-lineUp ease-out ;
         }
            @keyframes anim-lineUp {
                0% {
                opacity: 0;
                transform: translateY(80%);
            }
            20% {
                opacity: 0;
            }
            50% {
                opacity: 1;
                transform: translateY(0%);
            }
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
}

        #main-footer{
            background-color: rgb(25, 68, 53);
            bottom:0;
            margin-top:auto;
            width: 100%;
    }
        #content{
            margin-bottom:auto;
        }