<style>
    #bg {
        background: rgba(25, 68, 53,0.88);
        text-align: center;
        padding: 10px;
    }

    p {
        text-align: center;
        color: white;
        font-size: larger;
    }

    #titleBox{
        background:rgb(25, 68, 53);
        padding: 10px
    }

    button{
        font-size: x-large;
        color:white;
        background:rgba(25, 68, 53, 0.88);
        border-style: hidden;
        border-radius: 25px;
        width: 200px;
        height: 75px;
    }

    a:hover {
        filter: brightness(85%);
    }
</style>

{%block content%}
<div id="titleBox">
    <p>Ceneo Search</p>
</div>

<div id="bg">
    <h1 style="color:rgb(25, 68, 53)">Welcome!</h1>
    <p>Thanks for signing up. Please click button below to activate your account:</p>
    <a href="{{ confirm_url }}">
        <button>Verify</button>
    </a>
    <br>
    <p>We look forward to you joining our community!</p>
    <p>If you did not attempt to register an account, please ignore this email.</p>
</div>
{% endblock %}
