{% extends 'base.html' %}
{% block content %}
<div class="empty-site-background">
    {% if not search_infos %}
    <h1>Welcome to CeneoSearch</h1><br>
    <p>Your account is verified.</p>
    <p>Your search history will be visible here.</p>
    {% else %}
    <div class="container shadow p-3 mb-5 bg-white rounded history-container">
        <div class="history-title">
            <h1>Your search history</h1>
        </div>
        <hr class="rounded-title">
        <div class="container">
    {% for date in search_infos.keys() %}
        {% if loop.index > 1 %}
        <hr class="history">
        {% endif %}
            <a href="history/{{ loop.index - 1}}">
                <div class="row">
                    <div class="col-md-4 date">
                        <b>{{ date }}</b>
                    </div>
                    {% for query in search_infos[date] %}
                        <div class="col-md-5 search">
                            <b>{{ query }}</b>
                        </div>
                        <div class="col-md-4 search">
                            <b></b>
                        </div>
                    {% endfor %}
                </div>
            </a>
        {% endfor %}
            </div>
    </div>
    {% endif %}
</div>
{% endblock %}